{% extends "layout.njk" %}

{% block title %}Ревизии{% endblock %}

{% block content %}
<h1>Последние ревизии</h1>
<table>
  <thead>
    <tr>
      <th>Ревизия</th>
      <th>Время</th>
      <th>Тип изменения</th>
      <th>Ключ фичи</th>
      <th>Причина</th>
      <th>Изменил</th>
    </tr>
  </thead>
  <tbody>
    {% for rev in revisions %}
    <tr>
      <td>{{ rev.revision }}</td>
      <td>{{ rev.changed_at }}</td>
      <td>{{ rev.change_type }}</td>
      <td>{{ rev.feature_key }}</td>
      <td>{{ rev.reason }}</td>
      <td>{{ rev.changed_by }}</td>
    </tr>
    {% else %}
    <tr><td colspan="6">Ревизий пока нет.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
